{% extends 'base.html' %}
  <!-- AMP plug -->
    

{% block body %}
  <section class="engine"><a href="https://mobirise.info/p">site templates free download</a></section><section class="contact1 cid-rUN5CKHn0v" id="contacts1-b">

    
    <div class="container">
        <h2 class="align-center mbr-fonts-style mbr-light display-2">
            User Addition Form
        </h2>
        

        <div class="mbr-row mbr-jc-c mbr-pt-4">
            <div class="mbr-col-lg-10  mbr-col-md-12 mbr-col-sm-12" data-form-type="formoid">
                <form class="mbr-form" method="post" target="_top" action-xhr="https://formoid.net/api/amp-form/push" data-form-title="Mobirise Form"><input type="hidden" name="email" data-form-email="true" value="5vAr9n7tkvs3OA89x4OxDPiVayOGOWnJJ1tNT4mCFY9zME10nY+rxY6NKWVYyL/mTGYlt09KkoiZimyh/KzxhsNWFLVV0VZpFlrewUwHjHZmjkL+3X+4CmSjfSfXPyx/">
                    <div class="mbr-row">
                      <div submit-success="" class="mbr-col-sm-12 mbr-col-md-12">
                        <template data-form-alert="" type="amp-mustache">Subscription successful!</template>
                      </div>
                      <div submit-error="" class="mbr-col-sm-12 mbr-col-md-12">
                        <template data-form-alert="" type="amp-mustache">Failed! {{error}}</template>
                      </div>
                    </div>
                    <div class="mbr-row">
                        <div class="field mbr-col-sm-12 mbr-col-md-12 mbr-col" data-for="form[data][0][1]">
                            <input type="hidden" name="form[data][0][0]" value="Name" id="form[data][0][0]-contacts1-b" data-form-field="">
                            <input class="field-input display-4" type="text" id="username" name="username" data-form-field="Name" placeholder="Name" required="" id="form[data][0][1]-contacts1-b">
                        </div>
                        <div class="field mbr-col-sm-12 mbr-col-md-12 mbr-col" data-for="form[data][1][1]">
                            <input type="hidden" name="form[data][1][0]" value="Last Name" id="form[data][1][0]-contacts1-b" data-form-field="">
                            <input class="field-input display-4" type="email" id="email" name="email" data-form-field="Last Name" placeholder="Email" required="" id="form[data][1][1]-contacts1-b">
                        </div>
                        <div class="field mbr-col-sm-12 mbr-col-md-12 mbr-col" data-for="form[data][2][1]">
                            <input type="hidden" name="form[data][2][0]" value="Email" id="form[data][2][0]-contacts1-b" data-form-field="">
                            <input class="field-input display-4" type="number" name="form[data][2][1]" data-form-field="Email" placeholder="Contact" required="" id="form[data][2][1]-contacts1-b">
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="contact1 cid-rUN5DXIIGo" id="contacts1-c">

    

    <div class="container">
        

        <div class="mbr-row mbr-jc-c mbr-pt-4">
            <div class="mbr-col-lg-10  mbr-col-md-12 mbr-col-sm-12" data-form-type="formoid">
                <form class="mbr-form" method="post" target="_top" action-xhr="https://formoid.net/api/amp-form/push" data-form-title="Mobirise Form"><input type="hidden" name="email" data-form-email="true" value="Vw3eGB9wh0GImKjCBa6myuGhJbpr9dkdZ9M4/TfHybH8yaitS7jZcbVImzZNdzZKzTU7/+6MvEBeWqngLETJ1U+rlkI9Zi9I4HOUH8eSYgFyxivH4kz5f1Pn0pI+TPFn">
                    <div class="mbr-row">
                      <div submit-success="" class="mbr-col-sm-12 mbr-col-md-12">
                        <template data-form-alert="" type="amp-mustache">Subscription successful!</template>
                      </div>
                      <div submit-error="" class="mbr-col-sm-12 mbr-col-md-12">
                        <template data-form-alert="" type="amp-mustache">Failed! {{error}}</template>
                      </div>
                    </div>
                    <div class="mbr-row">
                        <div class="field mbr-col-sm-12 mbr-col-md-12 mbr-col" data-for="form[data][0][1]">
                            <input type="hidden" name="form[data][0][0]" value="Name" id="form[data][0][0]-contacts1-c" data-form-field="">
                            <input class="field-input display-4" type="number" name="latitude" data-form-field="Name" placeholder="latitude" required="" id="latitude">
                        </div>
                        <div class="field mbr-col-sm-12 mbr-col-md-12 mbr-col" data-for="form[data][1][1]">
                            <input type="hidden" name="form[data][1][0]" value="Last Name" id="form[data][1][0]-contacts1-c" data-form-field="">
                            <input class="field-input display-4" type="number" name="longitude" data-form-field="Last Name" placeholder="longitude" required="" id="longitude">
                        </div>
                        <div class="field mbr-col-sm-12 mbr-col-md-12 mbr-col" data-for="form[data][2][1]">
                            <input type="hidden" name="form[data][2][0]" value="Email" id="form[data][2][0]-contacts1-c" data-form-field="">
                            <input class="field-input display-4" type="text" name="form[data][2][1]" data-form-field="Email" placeholder="Address in word" required="" id="form[data][2][1]-contacts1-c">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section>
    <center><select name="status" id="status" style="padding: 1.1%;">
        <option value="1">Covid Positive</option>
        <option value="2">Shows Symptoms</option>
        <option value="3">Travel History Abroad</option>
        <option value="4">Close Contact</option>
        <option value="5">Normal User</option>
    </select></center>
</section>
<div class="mbr-section-btn align-center field mbr-col-sm-12 mbr-col-md-12 mbr-col-auto">
    <button type="submit" class="btn btn-primary btn-form display-4" onclick="submitform()">SUBMIT </button>
</div>

<section class="map cid-rUN5LT3dFx" id="map1-d">

    
    <div class="container-fluid">
        <div class="mbr-row mbr-jc-c">
            <div class="map-title mbr-col-sm-12 mbr-col-md-12 align-center">
                
            </div>
            
        </div>
    </div>
</section>
<style>
    /* Set the size of the div element that contains the map */
   #map {
     height: 400px;  /* The height is 400 pixels */
     width: 80%;  /* The width is the width of the web page */
    }
 </style>
 <!--The div element for the map -->
 <center><div id="map" style="margin-bottom: 65px; margin-top: 2px;" ></div></center>
 <script>
// Initialize and add the map
function initMap() {
var myLatlng = new google.maps.LatLng(21.2514,81.6296);

var myOptions = {
 zoom: 13,
 center: myLatlng,
 mapTypeId: google.maps.MapTypeId.ROADMAP
}
map = new google.maps.Map(document.getElementById("map"), myOptions);

var marker = new google.maps.Marker({
 draggable: true,
 position: myLatlng,
 map: map,
 title: "Your location"
});

google.maps.event.addListener(map, 'click', function(event) {
    a = event.latLng
    //alert(a)
    lat =parseFloat(a.lat('get'))
    long =parseFloat(a.lng('get'))
    mylatitude = document.getElementById('latitude');
    mylongitude = document.getElementById('longitude')
    mylatitude.value = lat
    mylongitude.value= long;
    //alert(lat)
    //alert(long)
});
}

google.maps.event.addDomListener(window, 'load', initialize);

 </script>
 <!--Load the API from the specified URL
 * The async attribute allows the browser to render the page while the API loads
 * The key parameter will contain your own API key (which is not needed for this tutorial)
 * The callback parameter executes the initMap() function
 -->
 <script async defer
 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8SoF_iIZGABFQKJOvQwqGZ5bf8_R20H0&callback=initMap">
 </script>
<script>
    {% if msg %}
        alert({{msg}})
    {% endif %}
</script>
</body>
<script>
    function submitform()
    {
        lat = document.getElementById('latitude').value
        long = document.getElementById('longitude').value
        username = document.getElementById('username').value
        status = document.getElementById('status').value
        email = document.getElementById('email').value
        /*
        alert(lat)
        alert(long)
        alert(username)
        alert(status)
        alert(email)
        */
        URL = "http://127.0.0.1:8000/tracker/api_add/"+lat+"/"+long+"/"+status+"/"+username+"/"+email+"/"
        alert(URL)
        var req = new XMLHttpRequest();
            req.onreadystatechange = function(obj) {
                if (this.readyState == 4 && this.status == 200) {
                    alert("added")
                    
                }
                else if(this.status == 400)
                {
                    alert("fail. Check if username already exists")
                }
            };
            req.open("POST", URL, true);
            req.send();
            return true;
    }
</script>
</html>
{% endblock body %}
